@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  overflow: hidden;
}

body {
  position: relative;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: none;
}

.display-overlay {
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: 'DynaPuff', cursive;
}


.desktop-button-container {
  display: none;
  padding: 12px;
  @media screen and (min-width: 640px) {
    display: flex !important;
    justify-content: center;
    margin-top: 12px;
  }

}

.add-task-desktop-button {
  padding: 12px 120px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  color: #00b4d8;
  font-family: 'DynaPuff', cursive;
  font-size: 20px;
  transition: all 0.4s ease-in-out 0s;


  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #00b4d8, #4dcbe4, #80daec) border-box;
  border: 2px solid transparent;

  &:hover {
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to right, #80daec, #00b4d8, #00b4d8) border-box;
    box-shadow: 4px 4px 6px #003641;
    padding: 12px 132px;
  }


}


.pagecontainer {
  padding: 36px 0;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;

  @media screen and (min-width: 640px) {
    width: 90vw;
  }

  @media screen and (min-width: 768px) {
    width: 80vw;
  }

  @media screen and (min-width: 1024px) {
    width: 70vw;
  }

  @media screen and (min-width: 1536px) {
    width: 60vw;
  }
}

.add-task-mobile-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  padding: 22px;
  background-color: #00b4d8;
  color: #fff;
  font-size: 18px;
  box-shadow: 0px 2px 15px #003641;
  transition: all 4s ease-in-out 0.5s;
  font-family: 'DynaPuff', cursive;


  @media screen and (min-width: 640px) {
    bottom: -30000px;
  }
}



.task-modal {
  color: #fff;
  position: absolute;
  padding: 24px 64px;
  top: 50%;
  left: -50%;
  max-width: 600px;
  translate: -50% -50%;
  border-radius: 10px;
  border: 2px solid #00b4d8;
  background-color: #00b4d8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 20px #003641;
  z-index: 20;
  transition: all 0.5s ease-in-out 0.2s;

  @media screen and (min-width:640px) {
    padding: 24px 128px;
  }
}

.show-task-modal {
  left: 50%;
}

.task-modal :nth-child(even) {
  margin-bottom: 4px;
}

.task-modal input,
textarea,
select {
  border-radius: 4px;
  background-color: #fff;
}

.task-modal option {
  text-align: center;
  border: none !important;
}

.task-modal h3 {
  font-size: 24px;
  font-family: 'DynaPuff', cursive;
}

.submit-task {
  padding: 8px 24px;
  margin-top: 12px;
  border-radius: 10px;
}